# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.spec.bak

# PyInstaller
*.manifest
*.spec
version_info.py

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store

# App data (runtime)
*.db
.images/

# Logs
*.log
